@font-face {
    font-family: 'Gotham';
    src: url('./fonts/GothamBook.ttf') format('embedded-opentype'), /*IE*/
         url('./fonts/GothamBook.ttf') format('woff2'), /*Newwer modern browsers*/
         url('./fonts/GothamBook.ttf') format('woff'), /*modern browsers*/
         url('./fonts/GothamBook.ttf') format('truetype'), /*safari, android, ios*/
         url('./fonts/GothamBook.ttf') format('svg'), /*old ios*/
}
  
a{
  text-decoration: none;
}
    
span, a {
  font-size: 11pt;
  color: #444;
}

 .card{
  width: 700px;
  height: 142px;
} 

 .signature-body{
  display: flex;
  position: absolute;
  left: 5;
  top: 5;
}

.logo-td{
  width:10px; 
  padding-right:10px;
}

.logo-td{
  width:10px; 
  padding-right:10px;
}

.signature-info{
  color: black;
  text-align:initial;
  line-height:normal;
  font-size:13pt;
  font-family:Gotham;
  padding-top: 17px;
  padding-left: 11px;
}

.upper-signature{
  margin-bottom: 7pt;
}

.tel-p{
  margin-right:0px; 
  margin-left:0px;
}

.address{
  display: inline-block;
}

.site-p{
  margin-right:0px; 
  margin-left:0px;
}

.site-span{
  white-space:nowrap; 
  display:inline-block;
}

.db-input{
  margin-top: 20px;
}

.BnG-buttons{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.BnG-buttons > button{
  margin: 0 1.5% 0 1.5%;
}

.download-button{
  display: flex;
  justify-content: center;
}